* {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #666;
    font-size: 3.45em;
}

h2 {
    color: #f07c17;
    font-size: 1.72em;
    font-weight: 600;
}

.header {
    margin-top: 1.79em;
}

img {
    margin-top: 21px;
}

.textarea {
    font: normal 16px/200% Verdana, sans-serif;
    padding: 18px 0 0 0;
}

.side-border {
    border: 1px solid #ccc;
    padding: 10px 0 0 30px;
    min-height: 222px;
    margin: 28px 0 0 0;
}

.list-item {
    font: normal 16px/200% Verdana, sans-serif;
    padding: 0 0 0 5px;
    font-weight: 500;
}

.side-border-list {
    padding: 20px 0 0 35px;
    font: 500 12px/200% Verdana, sans-serif;
}
