* {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #666;
    font-size: 3.45em;
}

h2 {
    color: #f07c17;
    font-size: 1.72em;
    font-weight: 600;
}

#header {
    margin-top: 1.79em;
}

img {
    margin-top: 21px;
}

#textarea {
    font-size: 16px;
    padding-top: 18px;
    line-height: 200%;
}
.sborder {
    border: 1px solid #CCC;
    padding-top: 10px;
    padding-left: 30px;
    min-height: 222px;
    margin-top: 28px;
}

.sborder > ul > li > span {
    font-size: 16px;
    line-height: 200%;
    padding-left: 5px;
    font-weight: 500;
}

.sborder > ul {
    padding-top: 20px;
    font-size: 12px;
    line-height: 200%;
    padding-left: 35px;
    font-weight: 500;
}